$dark-grey-color: #333333;
$grey-color: #484848;
$magenta-color: #BA2E8B;
$blue-color: #2BADFE;
$white-color: #fefefe;


$primary-color: rgba(177,200,138,1);
$secondary-color: rgba(0,84,109,1);
$dark-green: rgba(110,136,120,1);
$dark-grey: rgba(128,127,131,1);

$old-pink: rgba(175,111,101,1);
$orange: rgba(213,174,29,1);
$old-green: rgba(168,148,67,1);
$forest-green: rgba(185,161,39,1);
$blue: rgba(107,134,159,1);
$turkoy: rgba(94,146,153,1);
$green: rgba(113,143,128,1);
$military-green: rgba(158,161,118,1);